.header {
    display: grid;
    grid-template-areas:
    "bloc block"
    "nav  nav";
    grid-template-columns: 80% 20%;
    grid-template-rows: 80% 20%;
    background-color: darkcyan;
    grid-area: header;
}