* {
  margin: 0;
  padding: 0;
}
.landing {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "main main"
    "footer footer";
  grid-template-rows: 30% 20% 30% 20%;
  height: 100vh;
  grid-gap: 8px;
  text-align: center;
}


